.content-header.nav-listas{
  padding-left: 10%;
  padding-right: 10%;
}

.nav-lista h3{
  margin-top: 0;
}

div.dataTables_wrapper {
  width: 70%;
  margin: 0 auto;
}

.errores
{
  color: red;
}

/*
*{
	border: 1px solid #555555;
}
*/


